<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
<listener class-name="resources.TestListeners" />
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="LST.Lst.LandingPageTest"/>
      <class name="LST.Lst.SignUpTest"/>
      <class name="LST.Lst.LoginTest"/>
      <class name="LST.Lst.CommonTestForAllPages"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
